*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: calc(10px + (21 - 10) * ((100vw - 300px) / (3072 - 320)));
	margin: 0;
	padding: 0;
	height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
    background-color: #0d121b;
    
}

.home-page {	
    min-height: 100vh;
    background-color: #0d121b;
    margin: -4rem auto -4rem auto;
    padding-top: 4rem;
    color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-page {
    display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
    background-color: #0d121b;
	min-height: 100vh;
}

.portfolio-page {
    display: flex;
	flex-flow: row wrap;
	justify-content: center;
    background-color: #0d121b;
	min-height: 100vh;
    color: hsl(198, 16%, 74%);
}

.browse-page {
    min-height: 100vh;
    background-color: #0d121b;
    margin: -4rem auto -4rem auto;
    padding-top: 4rem;
    color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-page {
    min-height: 100vh;
    background-color: #0d121b;
    margin: -4rem auto -4rem auto;
    padding-top: 4rem;
    color: hsl(198, 16%, 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading-page {
    min-height: 100vh;
    background-color: #0d121b;
    margin: -4rem auto -4rem auto;
    padding-top: 4rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-page {
    display: flex;
    justify-content: center;
}

.error {
    display: flex;
    margin-top: 4.5rem;
    margin-left: 2%;
    align-items: center;;
}

.page-not-found-container {
    display: flex;
    justify-content: center;
}

*::-webkit-scrollbar {
    width: 7px; 
  }

*::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}