table {
    width: 75%;
    border-collapse: collapse;
    margin: auto;
}

th {
    background-color: #101522;
    color: orange;
    padding: 0.4rem 0.4rem 0.4rem 1rem;
    font-size: 1rem;
    text-align: left;
    cursor: auto;
}

td {
    text-align: left;
    padding: 1rem;
    font-size: 0.9rem;
    max-height: 2rem;
    border-top: 1px solid black;
    font-family: 'Lucida Sans';
    font-size: 0.8rem;    
}

.coin-price-header {
    text-align: right;
}

.coin-price {
    text-align: right;
}

tr:hover {
    background-color: #0d121b;
    cursor: pointer;
}


.coin-list {
    width: 100%;
    overflow: auto;
    margin-bottom: 1%; 
    margin-top: 25vh;
}

@media screen and (max-width: 960px) {
    .coin-list {
        margin-top: 20vh;
    }
}

.coin-img {
    width: 1rem;
    margin-right: 1rem;
}

.coin-name {
    width: 30%;
    
}

.load-more-btn-div {
    display: flex;
    justify-content: center;
}

.back-to-top-btn-div {
    display: flex;
    justify-content: right;
    width: 75%;
}

.load-more-btn {
    margin-bottom: 1%;
    cursor: pointer
}

.back-to-top-btn {
    margin-bottom: 5%;
    cursor: pointer;
}

.icon {
    margin-right: 5px;
}

.search-container {
    position: absolute;
    top: 18vh;
    left: 13%;
    z-index: 1;
    background-color: white;
    max-height: 10rem;
    overflow: auto;
}

.search-bar {
    width: 15rem;
    height: 1.5rem;
    outline: none;
    border: 1px solid white;
    border-bottom: 1px solid black;
    padding: 0.5rem;
}

.search-results {
    padding: 0.5rem;
    width: 15rem;
    background: #fff;
    text-decoration: none;
    border: none;
    color: black;
}

@media screen and (max-width: 960px) {
    .search-container {
        top: 12%;
        left: 50%;
        transform: translate(-50%, -12%);
    }
}