table {
    width: 75%;
    border-collapse: collapse;
    margin: auto;
}

th {
    background-color: #101522;
    color: #e8e8e8;
    padding: 0.4rem 0.4rem 0.4rem 1rem;
    font-size: 1rem;
    text-align: left;
}

td {
    text-align: left;
    padding: 1rem;
    max-height: 2rem;
    border-top: 1px solid #202020;
    font-family: 'Lucida Sans';
    font-size: 0.85rem;    
    border-bottom: none;
}

.coin-price-header {
    text-align: right;
}

.coin-price {
    text-align: right;
}

.browse-page tr:hover {
    background-color: #0d121b;
}


.coin-list {
    width: 100%;
    overflow: auto;
    margin-bottom: 1%; 
    margin-top: 25vh;
}

@media screen and (max-width: 960px) {
    .coin-list {
        margin-top: 20vh;
    }
}

.coin-img {
    width: 1rem;
    margin-right: 1rem;
}

.coin-name {
    width: 30%;
    
}

.load-more-btn-div {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 1%;
}

.back-to-top-btn-div {
    display: flex;
    justify-content: right;
    width: 75%;
    margin-bottom: 5%;
}

.load-more-btn {
    cursor: pointer;
    background: none;
    color: white;
    border: 1px solid white;
    padding: 0.5rem;
}

.back-to-top-btn {
    cursor: pointer;
    background: none;
    color: white;
    border: 1px solid white;
    padding: 0.5rem;
}

.load-more-btn:hover {
    background: #303030;
}

.load-more-btn:active {
    top: 10px;
}

.back-to-top-btn:hover {
    background: #303030;
}

.icon {
    margin-right: 5px;
}

.search-container-parent {
    position: absolute;
    top: 18vh;
    left: 12.5%;
    display: block;
    background-color: #1a1f2c;
    height: 50%;
    padding: 1.5rem;
    border-radius: 1rem;
    height: 23rem;
    width: 22rem;
    z-index: 10;
}

.search-form-btn {
    position: absolute;
    top: 19vh;
    left: 13%;
    cursor: pointer;
    background: none;
    border: none;
    background-color: white;
    border-radius: 1rem;
    text-align: left;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 12rem;
    color: gray;
}

.search-container {
    height: 18rem;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #e8e8e8;
}

.search-form {
    position: absolute;
    top: 0;
    left: 0;
    bottom: -20px;
    right: -20px; 
    overflow: scroll;
    color: #e8e8e8;
    margin-top: 1.5rem;
}

.search-bar {
    width: 15rem;
    height: 1.5rem;
    outline: none;
    border: 1px solid white;
    padding: 0.5rem;
    background-color: #e8e8e8;
    border-radius: 1rem;
}

.search-link { 
    text-decoration: none;
    width: 95%;  
    background: none;
    height: 2rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    z-index: 5;
    color: #e8e8e8;
    justify-content: space-between;
    padding: 1rem;
}

.search-result-rank{
    font-size: 0.8rem;
    font-weight: bold;
    color: gray;
    margin-right: 1rem;
}

.coin-link {
    text-decoration: none;
    color: white;
}

.coin-link:hover {
    text-decoration: underline;  
}

.coin-search-img {
    width: 1rem;
    margin-right: 1rem;
}

.search-results:hover {
    background-color: #e8e8e8;
}

.result-coin-name-img {
    font-size: 0.85rem;
    font-weight: bold;
}

@media screen and (max-width: 960px) {
    .search-container-parent {
        top: 17%;
        left: 50%;
        transform: translate(-50%, -17%);
    }

    .search-form-btn {
        top: 15%;
        left: 50%;
        transform: translate(-50%, 15%);
    }

    table {
        min-width: 100%;
    }

    .coin-list {
        margin-top: 30vh;
    }

  
}