.chart-container {   
    position: relative;
    height: 45vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.titles {
    margin-top: 5%;
    margin-bottom: 5%;
}

.name-symbol {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.price-percentage {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.details {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.coin-details {
    background-color: #0d121b;
    border-radius: 30px;
}

li {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 1.2rem;
}

.chart-btns {
    display: inline-block;
    margin-bottom: 1rem;
}

.chart-btns > button {
    padding: 0.5rem;
    cursor: pointer;
}

.coin-title-img {
    width: 2.2rem;
    margin-left: 0.7rem;
}

@media screen and (max-width: 960px) {
    .details {
        flex-direction: column;
        width: 100%;
    }

    .chart-container {
        width: 100vw;
    }

    .coin-details {
        margin-top: 25%;

    }

    li {
        width: 100vw;
    }

    .titles {
        margin-top: 20%;
    }

    .price-percentage { 
        margin-top: 2rem;
    }
}

@media screen and (max-height: 500px) {
    .chart-container {
        height: 90vh;
    }
}

