header {
	background-color: hsl(219, 35%, 6%);
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
    top: 0;    
    width: 100%;
    height: 3rem;
    z-index: 10;
}

.source-btn {
	color: #DDD;
	text-decoration: none;
	margin-left: 2rem;
}

.source-btn:hover {
    text-decoration: underline;
	color: #DDD;
}

.source-link {
	color: #DDD;
	text-decoration: none;
	margin-right: 1.2rem;
}

.source-link:hover {
	text-decoration: underline;
}

@media screen and (max-width: 960px) {
	header {
		position: fixed;
	}

	.source-link {
		text-align: center;
        padding:2rem;
        width: 100%;
        font-size: 1.5rem;
	}

	.source-link:hover {
		text-decoration: none;
		transition: all 0.3 ease
	}
}