.home-stats-container {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-stats-title {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: #e8e8e8;
}

.stats {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #e8e8e8;
}

.stat {
    margin: 2rem;
}

.stat-label {
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
    color: gray;
}

.top-crypto-title {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
    color: #e8e8e8;
}

.top-crypto {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    flex-wrap: wrap;
}

.card {
    margin: 5rem;
    width: 16rem;
    height: 14rem;
    text-decoration: none;
    color: #e8e8e8;
    border-radius: 10px;
    background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    


}

.card:hover {
    box-shadow: 0 0 11px gray; 
    cursor: pointer;
}

.name-and-symbol {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: 0.8rem;
    border-bottom: 1px solid black;
}

.symbol {
    width: 1.5rem;
}

.card-details-container {
    font-size: 0.7rem;
    margin-top: 1rem;
}

.card-details > li {
    padding: 1rem;
    width: 16rem;
}
